.footer {
  padding: 80px 0;
}
.footer-desc {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.footer-link {
  position: relative;
  font-size: 24px;
}
.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #ff9000;
  transition: 200ms ease;
}
