.header {
  padding: 20px 0;
}
.header-nav {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}
/* .nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */
.header-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.header-nav-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  color: #000;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #ff9000;
}
.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.header-nav-link.active::after {
  background: #ff9000;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 320px;
  padding-top: 80px;
  position: relative;
}

.nav-list::before {
  content: '';
  position: absolute;
  top: 80px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background-image: linear-gradient(-45deg, #a09602 50%, #d36410 50%); */
  /* background: linear-gradient(to bottom right, #ff6b00, #ffd700); */
  /* background: linear-gradient(to bottom right, #ffa500, #32cd32); */
  /* background: linear-gradient(to bottom right, #f4a261, #2a9d8f); */
   /* background-image: linear-gradient(0deg, #ffcc99, #ffeecc); */
  /* background-image: linear-gradient( 0deg, #ffcc99 0%, #ffa500 100%); */
  background-image: linear-gradient(0deg, #fff2e0 0%, #ffcc99 100%);
  filter: blur(4.5rem);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #ff9000;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #ff9000;
  color: #000;
}