.form {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    /* box-shadow: 0 8px 16px rgb(248, 125, 1),
                0 8px 16px rgb(244, 167, 1); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5),
                0 8px 16px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 16px;
}

.form label {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 8px;
    column-gap: 14px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form input[name='delay'] {
    width: 330px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
    font-size: 16px;
    padding: 0px 16px;
}

.form input[name='delay']:hover,
.form fieldset:hover {
    border: 1px solid #000;
    cursor: pointer;
}

.form input[name='delay']:focus {
    border: 1px solid #ff9000;
}

.form fieldset {
    border-radius: 4px;
    display: flex;
    max-width: 360px;
    border: 1px solid #808080;
    padding: 14px 2px;
    justify-content: space-around;
    align-items: center;
    padding: 14px 16px;
    margin-bottom: 8px;
}

.form fieldset legend {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: start;
    margin-left: 28px;
}

.form fieldset label {
    flex-direction: row;
}

.form input[name='state'] {
    width: 20px;
    height: 20px;
}

button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform background-color 500ms ease;
    min-width: 360px;
}

button[type="submit"]:hover {
    background-color: #6c8cff;
    transform: scale(1.01);
}

.form input[type="radio"] {
    accent-color:#ff9000;
    cursor: pointer;
} 